theme/.yarn/*
!theme/.yarn/cache
!theme/.yarn/releases
!theme/.yarn/plugins
!theme/.yarn/sdks
!theme/.yarn/versions

deployment/.env

theme/assets/built/
theme/dist/
theme/logs/
theme/node_modules/
theme/npm-debug.log
theme/package-lock.json
theme/pids/
theme/results/

ghost-local
